.container {
  display: flex;
  width: 75%;
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 4px 10px 5px #80808029;
}

.content {
  flex: 1;
  padding: 45px 32px 0px 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
