.container {
  display: flex;
  width: 75%;
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 4px 10px 5px #80808029;
}

.content {
  padding: 45px 32px 0px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
