.summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 4px;

  .details {
    p,
    ul {
      margin-bottom: 0.5rem;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
    }

    li {
      margin-bottom: 0.3rem;
    }
  }
}
